# environment
.vscode/
.pre-commit-config.yaml
wandb/
venv/

# python
*__pycache__*

# hydra logging
multirun/
output/

# custom
eval/
checkpoints/
experiments/

configs/*
!configs/train.yaml
!configs/dataset/
!configs/dataset/*.yaml